body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
  background-color: black; 
  color: white; /* Font Color*/
}

h2 {
  font-size: 2em;
  margin: 0.5em 0;
  text-align: center;
  color: rgb(242, 68, 56);
}

#container {
  width: 600px;
  height: 400px;
}

.star {
  fill: url(#star-gradient);
}

.star:hover {
  fill: rgb(53, 107, 255);
}

/* Gradient */
#star-gradient {
  x1: 0%;
  y1: 0%;
  x2: 100%;
  y2: 0%;
}

.stop1 {
  offset: 0%;
  stop-color: #fff5bc; /* Start color: gold */
  stop-opacity: 1;
}

.stop2 {
  offset: 100%;
  stop-color: #dd9000; /* End color: orange */
  stop-opacity: 1;
}

.x-axis text {
  transform: rotate(-90deg);
  text-anchor: end;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: auto;
  padding: 8px;
  font-size: 14px;
  background: #494545;
  border: 1px solid #ccc;
  border-radius: 4px;
  pointer-events: none;
}




